:host {
	background-color: transparent;
}

table thead th {
	text-transform: uppercase;
	color: var(--uvi-table-color-mine-shaft);
}

/*
CLAASS EXPDATE ZA REGI EX CLASSLAVELGEN
td.expiry-date {
	color: var(--uvi-color-monza);
	font-weight: var(--uvi-font-weight-semibold);
}
*/

/*
ADD SORT
th[aria-sort="ascending"],
th[aria-sort="descending"] {
	color: var(--uvi-table-color-san-marino);
}
*/

table tbody td {
	font-size: 14px;
	color: var(--uvi-table-color-mine-shaft-v2);
	transition: background-color .3s, color .3s, font-weight .3s;
}


[part~="header-cell"] ::slotted(vaadin-grid-cell-content) {
	font-weight: var(--uvi-font-weight-bold);
	font-size: 12px;
}


/*MOZDA NE TREBA, STRIPER RADI I BEZ TOGA*/
[part~="cell"] {
	background-color: var(--uvi-table-color-selago);
	min-height: 48px !important;
}

:host(:not([theme~="no-row-borders"])) [part="row"][first] [part~="cell"]:not([part~="details-cell"]),
:host([theme~="row-stripes"]) [part~="row"]:not([odd]) [part~="body-cell"] {
	background-color: var(--uvi-table-color-white);
	background-image: none;
}

:host(:not([theme~="no-row-borders"])) [part~="cell"]:not([part~="details-cell"]) {
	border-top: 1px solid var(--uvi-table-color-alto);
}

:host(:not([theme~="no-row-borders"])) [part="row"]:last-child [part~="header-cell"] {
	border-bottom: 1px solid var(--uvi-table-color-alto);
}

tbody tr:hover td:not(.expiry-date) {
	background-color: var(--uvi-table-color-selago-v2-hover) !important;
	color: var(--uvi-table-color-san-marino-hover);
}

tbody tr:hover td.expiry-date {
	background-color: var(--uvi-color-pastel-pink) !important;
}

tr:hover td [theme="table-icon"] {
	display:none;
}

:host(:not([reordering])) [part~="row"][selected] [part~="body-cell"]:not([part~="details-cell"]) {
	background-color: var(--uvi-table-color-selago-v2-hover) !important;
	background-image: none;
	color: var(--uvi-table-color-san-marino-hover);
	font-weight: var(--uvi-font-weight-semibold);
}

:host([theme~="wrap-cell-content"]) [part~="cell"] ::slotted(vaadin-grid-cell-content) {
	text-overflow: initial;
}

/*visak kao i ovo gore?*/
:host([theme~="wrap-cell-content"]) [part~="cell"] ::slotted(vaadin-grid-cell-content a) {
	color: yellow;
}

/*probaj bez ikon*/
tbody tr td.table-icon ::slotted(vaadin-grid-cell-content){
	opacity: 0;
	transition: opacity .3s;
}

tbody tr:hover td.table-icon ::slotted(vaadin-grid-cell-content){
	opacity: 1;
}

:host([theme~="white"]) [part~="cell"] ::slotted(vaadin-grid-cell-content) {
	cursor: move;
}

:host([theme~="white"]) table tbody td {
	background-color: var(--uvi-table-white-to-black);
}

:host([theme~="white"]) table {
	background-color: var(--uvi-table-white-to-black);
}
