html {
	--uvi-input-background-color: #fff;
	--uvi-input-border-color: #ddd;
	--uvi-input-box-shadow: 0 3px 7px -2px rgba(120, 120, 120, 0.22);
	--uvi-input-color-ship-gray: #414042;
	--uvi-font-weight-semibold: 600;
	--uvi-input-error-color: #c00032;
	--uvi-label-color-dove-gray: #DEDEDE;
	--uvi-select-dropdown-icon-color-dove-gray: #707070;
	--uvi-label-color-ship-gray: #414042;
	--uvi-color-lochmara: #0078c0;
	--uvi-color-white: #fff;
	--uvi-color-cerulean-blue: #225dbb;
	--uvi-color-san-marino: #3c5faf;
	--uvi-color-pattens-blue: #e0f4ff;
	--uvi-color-monza: #c00032;
	--uvi-color-pastel-pink: #ffdee7;
	--uvi-table-color-mine-shaft: #2c2c2c;
	--uvi-table-color-mine-shaft-v2: #232323;
	--uvi-font-weight-bold: 700;
	--uvi-table-color-selago: #f7fbfe;
	--uvi-table-color-white: #fff;
	--uvi-table-color-alto: #ddd;
	--uvi-table-color-selago-v2-hover: #e8effc;
	--uvi-table-color-san-marino-hover: #3c5faf;
	--uvi-color-pastel-pink: #ffdee7;
	--uvi-font-weight-semibold: 600;
	--uvi-table-white-to-black: #fff;
	--uvi-color-jade: #00C06D;
	--uvi-color-egg-blue: #00bfc0;
	--uvi-color-overlay: #fcfcfc;
	--uvi-shape-backdrop: rgba(20, 78, 153, 0.2);
	--uvi-notification-background-color-vivid-violet: #953b96;
	--uvi-notification-color-white: #fff;
}

/*
html {
  --lumo-font-family: 'Open Sans', sans-serif;
  --lumo-border-radius: 4px;
  --lumo-primary-text-color: #0afeb;
  --lumo-primary-color-50pct: rgba(0, 175, 235, 0.5);
  --lumo-primary-color-10pct: rgba(0, 175, 235, 0.1);
  --lumo-primary-color: #00afeb;
  --lumo-success-text-color: rgb(40, 210, 150);
  --lumo-success-color-50pct: rgba(40, 210, 150, 0.5);
  --lumo-success-color-10pct: rgba(40, 210, 150, 0.1);
  --lumo-success-color: #28d296;
  --lumo-error-text-color: #d23a4b;
  --lumo-error-color-50pct: rgba(210, 58, 75, 0.5);
  --lumo-error-color-10pct: rgba(210, 58, 75, 0.1);
  --lumo-error-color: #d23a4b;
  --lumo-base-color: #fcfcfc;
  --lumo-tint-5pct: rgba(255, 255, 255, 0.05);
  --lumo-tint-10pct: rgba(255, 255, 255, 0.1);
  --lumo-tint-20pct: rgba(255, 255, 255, 0.2);
  --lumo-tint-30pct: rgba(255, 255, 255, 0.3);
  --lumo-tint-40pct: rgba(255, 255, 255, 0.4);
  --lumo-tint-50pct: rgba(255, 255, 255, 0.5);
  --lumo-tint-60pct: rgba(255, 255, 255, 0.6);
  --lumo-tint-70pct: rgba(255, 255, 255, 0.7);
  --lumo-tint-80pct: rgba(255, 255, 255, 0.8);
  --lumo-tint-90pct: rgba(255, 255, 255, 0.9);
  --lumo-tint: #fff;
  --lumo-body-text-color: #828284;
  --lumo-header-text-color: #3e3e3e;
  --lumo-secondary-text-color: #828284;
  --lumo-readonly-text-color: #ddd;
  --lumo-readonly-background-color: #f0f3f7;
  --lumo-tertiary-text-color: #828284;
  --lumo-shade-5pct: rgba(20, 78, 153, 0.05);
  --lumo-shade-10pct: rgba(20, 78, 153, 0.1);
  --lumo-shade-20pct: rgba(20, 78, 153, 0.2);
  --lumo-shade-30pct: rgba(20, 78, 153, 0.3);
  --lumo-shade-40pct: rgba(20, 78, 153, 0.4);
  --lumo-shade-50pct: rgba(20, 78, 153, 0.5);
  --lumo-shade-60pct: rgba(20, 78, 153, 0.6);
  --lumo-shade-70pct: rgba(20, 78, 153, 0.7);
  --lumo-shade-80pct: rgba(20, 78, 153, 0.8);
  --lumo-shade-90pct: rgba(20, 78, 153, 0.9);
  --lumo-shade: hsla(214, 77%, 34%, 1);
  --lumo-input-background-color: #F4F8F9;
  --lumo-input-border-color: #b6c8de;
  --app-drawer-width: 305px;
  --app-layout-menu-padding: 20px 0 0 0;
  --app-layout-bar-background-color: #fff;
  --app-layout-bar-font-color: #7d7a81;
  --app-layout-bar-padding: 0;
  --app-layout-badge-background: #953b96;
  --app-layout-bar-shadow: 0 0 14px 0 rgba(60, 95, 175, 0.1);
  --app-layout-bar-height: 58px;
  --paper-badge-background: #fff;
  --paper-badge-text-color: #00afeb;
  --paper-toggle-button-unchecked-bar-color: #0078c0;
  --paper-toggle-button-checked-button-color: #0078c0;
  --uvi-header-icon-width: 24px;
  --uvi-header-icon-height: 24px;
  --uvi-sidebar-icon-width: 24px;
  --uvi-sidebar-icon-height: 24px;
  --uvi-table-icon-width: 24px;
  --uvi-table-icon-height: 24px;
  --uvi-font-weight-light: 300;
  --uvi-font-weight-regular: 400;
  --uvi-font-weight-semibold: 600;
  --uvi-font-weight-bold: 700;
  --uvi-progress-ok: #00c06d;
  --uvi-progress-moderate: #ffcc00;
  --uvi-progress-error: #d26600;
  --uvi-progress-danger: #c00032;
  --uvi-progress-page-pattens-blue: #e0f4ff;
  --uvi-input-background-color: #fff;
  --uvi-input-color-ship-gray: #414042;
  --uvi-input-border-color: #ddd;
  --uvi-input-focus-border-color: #0078c0;
  --uvi-input-focus-background-color: #e0f4ff;
  --uvi-input-error-border-color: #c00032;
  --uvi-input-error-background-color: #ffdce7;
  --uvi-input-box-shadow: 0 3px 7px -2px rgba(120, 120, 120, 0.22);
  --uvi-input-focus-box-shadow: 0 0 2px 0 #1171bb;
  --uvi-input-error-box-shadow: 0 0 2px 0 rgba(255, 0, 0, 0.5);
  --uvi-input-error-color: #c00032;
  --uvi-input-disabled-border-color: #dddddd;
  --uvi-input-disabled-background-color: #fcfcfc;
  --uvi-input-disabled-color: #ddd;
  --uvi-input-disabled-value-color: #ddd;
  --uvi-input-readonly-border-color: #ddd;
  --uvi-input-readonly-background-color: #fcfcfc;
  --uvi-input-readonly-color: #414042;
  --uvi-input-readonly-value-color: #414042;
  --uvi-label-color-dove-gray: #DEDEDE;
  --uvi-label-color-ship-gray: #414042;
  --uvi-select-dropdown-icon-color-dove-gray: #707070;
  --uvi-select-color-gray: #fcfcfc;
  --uvi-color-heading: #414042;
  --uvi-color-heading-label: #707070;
  --uvi-color-white: #fff;
  --uvi-color-lochmara: #0078c0;
  --uvi-color-san-marino: #3c5faf;
  --uvi-color-san-marino-security: #3c5faf;
  --uvi-color-cerulean-blue: #225dbb;
  --uvi-color-pattens-blue: #e0f4ff;
  --uvi-color-pattens-blue-drop: #e0f4ff;
  --uvi-color-monza: #c00032;
  --uvi-color-pastel-pink: #ffdee7;
  --uvi-color-pastel-green: #95d76e;
  --uvi-color-shamrock: #28d296;
  --uvi-color-egg-blue: #00bfc0;
  --uvi-color-mine-shaft: #3e3e3e;
  --uvi-color-gull-gray: #a0a8b8;
  --uvi-color-cod-gray: #0c0c0c;
  --uvi-color-dove-gray: #737373;
  --uvi-color-dove-gray-dropdown: #737373;
  --uvi-color-black: #000;
  --uvi-color-selago-v2: #e8effc;
  --uvi-color-affair: #81439c;
  --uvi-color-snuff: #e8e3f1;
  --uvi-table-color-mine-shaft: #2c2c2c;
  --uvi-table-color-san-marino: #3c5faf;
  --uvi-table-color-san-marino-drop: #3c5faf;
  --uvi-table-color-san-marino-hover: #3c5faf;
  --uvi-table-color-mine-shaft-v2: #232323;
  --uvi-table-color-selago: #f7fbfe;
  --uvi-table-color-white: #fff;
  --uvi-table-color-alto: #ddd;
  --uvi-table-color-selago-v2: #e8effc;
  --uvi-table-color-selago-v2-hover: #e8effc;
  --uvi-table-status-color-persian-green: #01B6B0;
  --uvi-table-status-color-jade: #01B65F;
  --uvi-table-status-color-tenn: #D26600;
  --uvi-table-status-color-monza: #ca082d;
  --uvi-tabs-color-selago-v2: #e8effc;
  --uvi-tabs-color-selago-v3: #EFEBFF;
  --uvi-tabs-color-white: #fff;
  --uvi-tabs-color-alto: #ddd;
  --uvi-tabs-color-gull-gray: #a0a8b8;
  --uvi-tabs-color-cerulean-blue: #225dbb;
  --uvi-tabs-color-san-marino: #3c5faf;
  --uvi-tabs-color-hover: #e0f4ff;
  --uvi-tabs-violet-color-hover: #eae1fe;
  --uvi-tabs-border-color-white: #fff;
  --uvi-notification-background-color-vivid-violet: #953b96;
  --uvi-notification-color-white: #fff;
  --uvi-body-background-color-selago: #f7fbfe;
  --uvi-background-color-white: #fff;
  --uvi-sidebar-background-color-white: #fff;
  --uvi-sidebar-color-san-marino: #3c5faf;
  --uvi-banner-color: #414042;
  --uvi-banner-background-color: #fff;
  --uvi-banner-button-background-color: #95d76e;
  --uvi-banner-button-background-color-hover: #28d296;
  --uvi-banner-button-color: #fff;
  --uvi-border-color-white: #fff;
  --uvi-border-color-lochmara: #017abd;
  --uvi-form-item-span-color: #707070;
  --uvi-color-overlay: #fcfcfc;
  --uvi-shape-backdrop: rgba(20, 78, 153, 0.2);
  --uvi-color-white-multiselect: #fff;
  --uvi-check-dropdown: #3c5faf;
  --uvi-arrow-down: url("/img/arrow-down-black.svg");
  --uvi-search-icon: url("../img/icon-search-violet.svg");
  --uvi-search-color: #4c4c4c;
  --uvi-color-san-marino-checkbox: #3c5faf;
  --uvi-color-jade: #00C06D;
  --uvi-color-overlay-text: #414042;
  --uvi-card-violet: #953b96;
  --uvi-table-white-to-black: #fff;
}

[theme~="dark"] {
  --lumo-base-color: #2b262d;
  --lumo-tint-5pct: rgba(252, 252, 252, 0.05);
  --lumo-tint-10pct: rgba(252, 252, 252, 0.1);
  --lumo-tint-20pct: rgba(252, 252, 252, 0.2);
  --lumo-tint-30pct: rgba(252, 252, 252, 0.3);
  --lumo-tint-40pct: rgba(252, 252, 252, 0.4);
  --lumo-tint-50pct: rgba(252, 252, 252, 0.5);
  --lumo-tint-60pct: rgba(252, 252, 252, 0.6);
  --lumo-tint-70pct: rgba(252, 252, 252, 0.7);
  --lumo-tint-80pct: rgba(252, 252, 252, 0.8);
  --lumo-tint-90pct: rgba(252, 252, 252, 0.9);
  --lumo-tint: #fcfcfc;
  --lumo-primary-text-color: #fff;
  --lumo-primary-color-50pct: rgba(160, 100, 250, 0.5);
  --lumo-primary-color-10pct: rgba(160, 100, 250, 0.1);
  --lumo-primary-color: #a064fa;
  --lumo-error-text-color: #d23a4b;
  --lumo-error-color-50pct: rgba(210, 58, 75, 0.5);
  --lumo-error-color-10pct: rgba(210, 58, 75, 0.1);
  --lumo-error-color: #d23a4b;
  --lumo-success-text-color: rgb(40, 210, 150);
  --lumo-success-color-50pct: rgba(40, 210, 150, 0.5);
  --lumo-success-color-10pct: rgba(40, 210, 150, 0.1);
  --lumo-success-color: #28d296;
  --uvi-color-white: #fff;
  --uvi-sidebar-color-san-marino: #00afff;
  --uvi-body-background-color-selago: #1e2127;
  --app-layout-bar-background-base-color: #262d37;
  --app-layout-bar-background-color: rgba(255, 255, 255, 0);
  --app-layout-bar-shadow: none;
  --uvi-color-heading: #fff;
  --uvi-color-heading-label: #fff;
  --uvi-input-background-color: #303741;
  --uvi-input-border-color: #303741;
  --uvi-input-color-ship-gray: #dedede;
  --uvi-input-box-shadow: 0 3px 7px -2px rgba(120, 120, 120, 0);
  --uvi-label-color-ship-gray: #fff;
  --uvi-table-color-white: #303741;
  --uvi-table-color-selago: #262d37;
  --uvi-table-color-mine-shaft: #fff;
  --uvi-table-color-mine-shaft-v2: #cecece;
  --uvi-table-color-selago-v2-hover: #434a59;
  --uvi-table-color-transparent: transparent;
  --uvi-table-color-alto: #7a7a7a;
  --uvi-table-color-san-marino-hover: #fff;
  --uvi-input-focus-border-color: #7a7a7a;
  --uvi-input-focus-background-color: #434a59;
  --uvi-input-color-ship-gray: #fff;
  --uvi-label-color-dove-gray: #9a9a9a;
  --uvi-input-readonly-background-color: transparent;
  --uvi-input-readonly-color: #7a7a7a;
  --uvi-input-readonly-border-color: #7a7a7a;
  --uvi-input-readonly-value-color: #7a7a7a;
  --uvi-input-disabled-color: #7a7a7a;
  --uvi-input-disabled-border-color: #7a7a7a;
  --uvi-input-disabled-value-color: #7a7a7a;
  --uvi-input-disabled-background-color: transparent;
  --app-layout-drawer-shadow: none;
  --uvi-form-item-span-color: #cdcdcd;
  --uvi-color-cod-gray: #fff;
  --uvi-tabs-color-selago-v2: #434a59;
  --uvi-tabs-color-selago-v3: #434a59;
  --uvi-tabs-color-hover: #262d37;
  --uvi-table-status-color-monza: #ca082d;
  --uvi-tabs-border-color-white: #262d37;
  --uvi-tabs-violet-color-hover: #262d37;
  --uvi-color-dove-gray-dropdown: #fff;
  --uvi-color-overlay: #1f252d;
  --uvi-color-san-marino-security: #00afff;
  --uvi-shape-backdrop: rgba(9, 10, 11, 0.7);
  --uvi-color-white-multiselect: transparent;
  --uvi-table-color-san-marino-drop: #fff;
  --uvi-color-pattens-blue-drop: #434a59;
  --uvi-tabs-color-cerulean-blue: #00afff;
  --uvi-tabs-color-san-marino: #00afff;
  --uvi-color-lochmara: #00afff;
  --uvi-color-cerulean-blue: #00afff;
  --uvi-color-affair: #d667d7;
  --app-layout-badge-background: #d667d7;
  --uvi-notification-background-color-vivid-violet: #d667d7;
  --paper-toggle-button-unchecked-bar-color: #0078c0;
  --paper-toggle-button-checked-button-color: #00afff;
  --uvi-check-dropdown: #fff;
  --uvi-arrow-down: url("/img/arrow-down-white.svg");
  --uvi-search-icon: url("../img/icon-search-violet-dark.svg");
  --uvi-search-color: #fff;
  --uvi-color-san-marino-checkbox: #00afff;
  --uvi-banner-background-color: #1e2127;
  --uvi-banner-color: #fff;
  --uvi-banner-button-background-color: #0fc000;
  --uvi-color-jade: #00C06D;
  --uvi-input-error-background-color: transparent;
  --uvi-color-overlay-text: #fff;
  --uvi-card-violet: #d667d7;
  --uvi-table-white-to-black: #303741;
}



*/