[part="input-field"] {
  background-color: var(--uvi-input-background-color);
  border: 1px solid var( --uvi-input-border-color);
  box-shadow: var( --uvi-input-box-shadow);
  color: var(--uvi-input-color-ship-gray);
  font-weight: var(--uvi-font-weight-semibold);
  min-height: 90px;
  transition: all .3s;
}




