/*
   CSS styling examples for the Vaadin app.
   Visit https://vaadin.com/docs/flow/theme/theming-overview.html and
   https://vaadin.com/themes/lumo for more information.
*/

/* Example: CSS class name to center align the content . */
.centered-content {
  margin: 0 auto;
  max-width: 250px;
}

.fire-gradient {
	background: rgb(255,89,89);
	background: linear-gradient(162deg, rgba(255,89,89,1) 0%, rgba(238,155,30,1) 38%, rgba(255,249,108,1) 71%); 
}

.login_content {
	background-color: white;
    align-self: center;
    width: 280px;
    padding: 20px;
    border-radius: 9px;
    box-shadow: 0 0 12px 0 rgba(60, 95, 175, 0.1);
    margin: 20px;
}

.register_content {
	background-color: white;
    align-self: center;
    padding: 20px;
    border-radius: 9px;
    box-shadow: 0 0 12px 0 rgba(60, 95, 175, 0.1);
    margin: 20px;
}

.logo_center {
	width:200px;
	margin: 0 auto;
}

.button_blue{
	color:white;
	margin: 10px 0;
	background-color:blue;
}

.width_100{
	width:100%;
}

.width_75{
	width:75%;
	
}

.width_25{
	width:25%;
}

.width_50{
	width:50%;
}

.width_33{
	width:33%;
}

.red_text{
	color:red;
	text-align:center;
}

/*Left Menu*/
.sidebar-header [slot="drawer-content"] {
	background: rgb(255,89,89);
	background: linear-gradient(162deg, rgba(255,89,89,1) 0%, rgba(238,155,30,1) 38%, rgba(255,249,108,1) 71%); 
}

.sidebar-header [slot="drawer-content"] vaadin-vertical-layout {
	padding-top: 20px !important;
	padding-bottom: 30px !important;
	overflow: hidden !important;
}

.sidebar-header [slot="drawer-content"] vaadin-vertical-layout::before {
	content: none;
}

.sidebar-header [slot="drawer-content"] vaadin-vertical-layout div {
	padding: 0;
	margin: 0;
}

/*Body*/
[slot="application-content"] {
	background-color: #f7fbfe;
	padding:20px 10px 20px 10px;
	width:auto;
}

[slot="application-content"] {
	min-height: calc(100vh - 58px);
}

/*content*/
[theme~="content"] {
	width: 100%;
	padding: 40px;
	min-height: calc(100vh - 80px);
}

[theme~="page-title"] {
	padding-bottom: 25px;
}

/*cards*/
[theme~="card"] {
	background-color: #fff;
	border-radius: 9px;
	box-shadow: 0 0 12px 0 rgba(60, 95, 175, 0.1);
	margin-bottom: 25px;
}

[theme~="card-spacing"] {
	padding: 15px;
}


[theme~="card-full-block"] {
	width: 100%;
}

[theme~="widget-cards"] {
	width: 100%;
	margin-bottom: 25px;
}
[theme~="widget-card"] {
	box-shadow: 0 0 14px 0 rgba(60, 95, 175, 0.1);
  	border: solid 1px #f2f2f2;
  	background-color: #fff;
  	border-radius: 9px;
  	align-items: center;
  	min-height: 150px;
    height: 100%;
    transition: background-color .3s;
    cursor: pointer;
    width:24%;
    text-align:center;
}

[theme~="widget-card"]:not(:first-child) {
	margin-left: 15px;
}


/*buttons*/
[theme~="purple"]:hover {
	background-color: #e1e1f7;
}

[theme~="purple"]:hover .widget-title{
	color: #953b96;
}

[theme~="purple"] .widget-number{
	color: #953b96;
}

[theme~="green"] .widget-number{
	color: #0fc000;
}

.widget-number {
	font-size: 72px;
	height:50px;
	display: flex;
	align-items: center;
}

[theme~="green"]:hover {
	background-color: #d1ffe1;
}

[theme~="green"]:hover .widget-title{
	color: #0fc000;
}

[theme~="light-blue"] .widget-number{
	color: #0078c0;
}

[theme~="light-blue"]:hover {
	background-color: var(--uvi-color-pattens-blue);
}

[theme~="light-blue"]:hover .widget-title{
	color: #0078c0;
}

[theme~="aqua"]:hover {
	background-color: #cbffff;
}

[theme~="aqua"]:hover .widget-title{
	color: #00bfc0;
}

[theme~="aqua"] .widget-number{
	color: #00bfc0;
}

[theme~="locked"]{
	color:red;
}

/*error*/
.error-content {
	align-items:center;
	width:50%;
	text-align:center;
}

.error-content h3{
	text-weight:bold;
}

.error-content iron-icon{
	width:150px;
	height:150px;
	margin-bottom:15px;
}

.error-content vaadin-button{
	margin-top:15px;
}
/*search*/
[theme~="search-table-block"] {
	flex-direction: column-reverse;
}

[theme~="search-block"] {
	justify-content: initial;
	margin-bottom: 25px;
}



[theme~="search-block"] {
	width: 100%;
}

[theme~="search-block"] paper-menu-button {
	padding: 0;
}

[theme~="search-block"] paper-menu-button > vaadin-button {
	min-height: 24px;
	height: 100%;
	margin-left: 10px;
}

[theme~="search-field"] {
	max-width: 380px;
	width: 100%;
	margin-left: 15px;
	padding: 0;
}

.popup-form{
	margin:0;
}

.popup-form vaadin-vertical-layout{
	paddng-left:10px;
}

[theme="popup-header"] {
	background-color: #0078c0;
	padding: 20px 15px;
	width:100%;
}

[theme="popup-header"] span {
	color: var(--uvi-color-white);
	font-weight: var(--uvi-font-weight-semibold);
}

[theme="search-tags-block"]{
	width:100%;
	flex-wrap:wrap;
	justify-content:start;
}
/*app menu top*/

/*notificaion*/
.notification-title {
	background-color: #0078c0;
    padding: 20px 15px;
}

.notification-title p {
	margin: 0;
    color: var(--uvi-color-white);
    font-weight: var(--uvi-font-weight-semibold);
}



.notification-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  transition: background-color .3s;
}

.notification-item:hover {
  background-color: var(--uvi-color-pattens-blue);
}

.notification-item-content {
	width: 100%;
	margin-right: 10px;	
	cursor: pointer;
}

.notification-item-content p:first-child {
	color: #4c4c4c;
	font-weight: var(--uvi-font-weight-semibold);
	margin: 0;
	line-height: 1;
}

.notification-item-content span {
	color: #707070;
	font-size: 14px;
	line-height: 1;
}

.notification-item-content p:last-child {
	color: #707070;
	font-size: 12px;
	margin: 0;
	line-height: 1;
}

.notification-item vaadin-button {
	align-self: center;
	opacity: 0;
	transition: opacity .3s;
}

.notification-item:hover vaadin-button {
	opacity: .3;
}

.notification-item vaadin-button:hover {
	opacity: 1;
}

.notification-items {
	max-height: 500px;
	overflow-y: scroll;
}

.notification-item::before {
	content: "";
	display: block;
	background-image: url("/img/icon-tasks.svg");
	background-position: center;
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	margin-right: 10px;
    margin-top: 0px;
}

.vaadin-menu-list-box > vaadin-button {
	margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    width: 250px;
    margin-bottom: 20px;
}

/*Header*/

.sidebar-header vaadin-menu-bar {
	padding-right: 10px;
}

vaadin-context-menu-item[theme="header-items"] img {
	width: 24px;
	height: 24px;
	vertical-align: middle;
}

[theme="button-icon"] img {
	width: 24px;
	height: 24px;
}


